*{
    color: white !important;
    background-color: black;
}

.col{
    border: 3px solid black;
    height: 300px;
}

#bicepList{
    background-color: white;
}
#bicepList ol{
    background-color: white;
}
#bicepList ol li{
    color: black;
    background-color: white;
}

