$Red1: rgb(201, 0, 0);

#navigationHeader a{
    color: white;
}

body{
    color: white !important;
    background-color: black;
}

.col{
    height: 300px;
}

#bicepList{
    background-color: white;
}
#bicepList ol{
    background-color: white;
}
#bicepList ol li{
    color: black;
    background-color: white;
}

#bicepDescription{
    box-shadow:  3px 3px 12px $Red1, -3px -3px 12px $Red1;
    color: black;
    background-color: whitesmoke;
}

.workout:hover{
    box-shadow:  3px 3px 12px $Red1, -3px -3px 12px $Red1;
    transition: box-shadow .6s;
}